
{{#if loggedIn}}
   <div class="topnav">
      <a href="/">Home</a>
      <a href="/competition?competition=SA">SerieA</a>
      <a href="/competition?competition=PL">Premier League</a>
      <a href="/competition?competition=PD">La Liga</a>
      <a href="/competition?competition=BL1">Bundesliga</a>
      <a href="/competition?competition=CL">Champions League</a>
      <a href="/videos">Videos</a>
      <a href="/live">LIVE</a>
      <a href="/personalPage">My Info!</a>
      <a href="/logout">Logout</a>
   </div>
{{else}}
   <div class="topnav">
      <a href="/">Home</a>
      <a href="/competition?competition=SA">SerieA</a>
      <a href="/competition?competition=PL">Premier League</a>
      <a href="/competition?competition=PD">La Liga</a>
      <a href="/competition?competition=BL1">Bundesliga</a>
      <a href="/competition?competition=CL">Champions League</a>
      <a href="/videos">Videos</a>
      <a href="/live">LIVE</a>
      <a href="/signIn">Sign In</a>
      <a href="/registration">Sign Up</a>
   </div>
{{/if}}

